<h1>Book a class</h1>

<form action="/bookings" method="post">
  <label>
  Select a class:
    <select name="gymclass_id">
      <% for gymclass in @gymclasses %>
      <option value="<%= gymclass.id %>"><%= gymclass.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a client:
    <select name="client_id">
      <% for client in @clients %>
      <option value="<%= client.id %>"><%= client.name %></option>
      <% end %>
    </select>
  </label>

  <input class="btn btn--action" type='submit' value="Book class">
</form>
