  <h1>Clients</h1>
<table id="clients">
  <tr>
    <th>Name</th>
    <th>Membership</th>
  </tr>
  <% for client in @clients %>
  <tr>
    <td><a href="/clients/<%= client.id %>"><%= client.name %></a></td>
    <td><%= client.membership_type %></td>
    <td><form action="/clients/<%= client.id %>/edit" method="GET">
        <input class="btn btn--danger" type="submit" value="Update" />
      </form></td>
  </tr>
  <% end %>
</table>
