<h2>New client</h2>
<div class="new_client">
<form action="/clients" method="POST">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Full name:</label>
      <input type="text" name="name" id="name" placeholder="Client's Full Name..."/>
    </div>

    <div class="form-el">
      <label for="membership_type">Membership:</label>
      <select name="membership_type" id="membership_type">
        <option value="Premium">Premium</option>
        <option value="Standard">Standard</option>
      </select>
    </div>

    <div class="form-el">
      <label for="contact_details">Contact details:</label>
      <input type="text" name="contact_details" id="contact_details" placeholder="Enter Adress, Email & Phone number"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Register client"/>
    </div>

  </div>
</form>
</div>
