<h1>Clients details</h1>

<h3><%= @client.name %></h3>

<p>Contact Details: <%= @client.contact_details %></p>

<h3>Bookings:</h3>

<ul>
  <% @client.gymclasses.each do |gymclass| %>
  <li><%= gymclass.name %></li>
  <% end %>
</ul>
