<h2>New class</h2>
<form action="/gymclasses" method="POST">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Class name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="capacity">Capacity:</label>
      <input type="number" name="capacity" id="capacity-field"></>
    </div>

    <div class="form-el">
      <input type="submit" value="Add class"/>
    </div>

  </div>
</form>
